.h1{
    font-family: 'Dancing Script', cursive;
    color:goldenrod;
    text-align: center;
    
}
p{
    font-family: 'Architects Daughter', cursive;
    color:rgb(219, 210, 219);
    text-align: center;

}
img{
   display: block;
   margin-right: auto;
   margin-left: auto; 
}
body {
    background:linear-gradient(-45deg,rgb(2, 0, 15),rgb(0, 0, 39),rgb(36, 0, 48),rgb(66, 0, 87),rgb(252, 193, 32));
    background-size: 400% 400%;
    animation: moving_bg 20s ease infinite;
    height: 100vh; 
}
@keyframes moving_bg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }